Repository openslide/openslide-bin: changes, and which pre-commit hooks are due for each by the changed paths.
All: mkmaintainer, annotations, argparse

.pre-commit-config.yaml:

# exclude vendored files and patches
exclude: '^(COPYING\.LESSER|subprojects/.*)$'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        name: Modernize python code
        args: ["--py312-plus"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Reorder python imports with isort

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        name: Format python code with black

  - repo: https://github.com/asottile/yesqa
    rev: v1.5.0
    hooks:
      - id: yesqa
        additional_dependencies: [flake8-bugbear, Flake8-pyproject]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        name: Lint python code with flake8
        additional_dependencies: [flake8-bugbear, Flake8-pyproject]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        name: Check Python types
        additional_dependencies: [types-PyYAML, types-requests]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: Check spelling with codespell

  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: local
    hooks:
      - id: meson-format
        name: meson format
        entry: meson format --configuration meson.format --inplace
        types: [meson]
        language: python
        additional_dependencies: [meson==1.5.2]

      - id: mkmaintainer
        name: Sync maintainer issue templates
        entry: .github/maintainer/mkmaintainer.py
        files: .github/maintainer/
        language: python
        additional_dependencies: [PyYAML]

      - id: annotations
        name: Require "from __future__ import annotations"
        language: pygrep
        types: [python]
        # Allow files with import statement, or of less than two characters.
        # One-character files are allowed because that's the best we can do
        # with paired negative lookbehind and lookahead assertions.  ^ and $
        # don't work because --multiline causes them to match at newlines.
        entry: "(?<!.)(?!.)|\nfrom __future__ import annotations"
        args: [--multiline, --negate]

      - id: argparse
        name: Require common.argparse wrapper
        language: pygrep
        exclude: common/argparse.py
        types: [python]
        entry: "(add_argument|parse_args)\\("

Include licenses directory in Python source distribution
  artifacts/postprocess-sdist.py
  artifacts/write-licenses.py
  common/software.py
Due: annotations, argparse

Update sqlite3
  subprojects/sqlite3.wrap
Due: none

machines: macOS x86_64 binaries don't need an exe wrapper
  machines/cross-macos-x86_64.ini
Due: none

workflows: drop `packaging` Python dependency
  .github/workflows/build.yml
Due: none

README: document macOS build dependencies
  README.md
Due: none

Update zlib-ng
  subprojects/zlib-ng.wrap
Due: none

openslide-bin 4.0.0.9
  CHANGELOG.md
  common/meson.py
Due: annotations, argparse

workflows: upload source archive to PyPI as openslide_bin-*
  .github/workflows/release.yml
Due: none

openslide-bin 4.0.0.10
  CHANGELOG.md
  common/meson.py
Due: annotations, argparse

Update libpng
  subprojects/libpng.wrap
Due: none

Format all default_options with one option per line
  .pre-commit-config.yaml
  deps/meson.build
Due: none

Add SPDX override for libjpeg-turbo to fix build on Meson 1.10.0
  common/software.py
Due: annotations, argparse

Update glib, libjpeg-turbo
  subprojects/glib.wrap
  subprojects/libjpeg-turbo.wrap
Due: none

pre-commit: update versions
  .pre-commit-config.yaml
Due: none

Update zlib-ng
  deps/meson.build
  subprojects/zlib-ng.wrap
Due: none

builder: bump API for Meson >= 1.10.0
  bintool
  builder/linux/Dockerfile
  builder/windows/Dockerfile
Due: none

openslide-bin 4.0.0.11
  CHANGELOG.md
  common/meson.py
Due: annotations, argparse

Update gdk-pixbuf, libpng, sqlite3, zlib-ng
  subprojects/gdk-pixbuf.wrap
  subprojects/libpng.wrap
  subprojects/sqlite3.wrap
  subprojects/zlib-ng.wrap
Due: none

mkmaintainer: properly use venv managed by pre-commit
  .github/maintainer/mkmaintainer.py
Due: mkmaintainer, annotations, argparse

workflows: switch small jobs to ubuntu-slim
  .github/workflows/event-issue.yml
  .github/workflows/event-pr.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .github/workflows/update-check.yml
Due: none

builder: revert API versions for Meson 1.10.1
  builder/linux/Dockerfile
  builder/windows/Dockerfile
Due: none

Reject builder containers with Meson 1.10.0
  bintool
Due: none

Revert "Add SPDX override for libjpeg-turbo to fix build on Meson 1.10.0"
  common/software.py
Due: annotations, argparse

Revert "builder: revert API versions for Meson 1.10.1"
  builder/linux/Dockerfile
  builder/windows/Dockerfile
Due: none

Update glib, libpng
  subprojects/glib.wrap
  subprojects/libpng.wrap
Due: none

builder/linux: add zstd
  builder/linux/Dockerfile
Due: none

workflows: update {upload,download}-artifact
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

workflows: update actions/checkout and actions/cache to current
  .github/workflows/build.yml
  .github/workflows/container-linux.yml
  .github/workflows/container-windows.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/update-check.yml
Due: none

Update libxml2, sqlite3
  subprojects/libxml2.wrap
  subprojects/sqlite3.wrap
Due: none

Fix corrupt partial bottom tile row on non-JPEG, non-JP2K TIFF levels
  subprojects/openslide.wrap
  subprojects/packagefiles/openslide-libtiff.patch
Due: none

openslide-bin 4.0.0.12
  CHANGELOG.md
  common/meson.py
Due: annotations, argparse

Enable Dependabot for GitHub Actions and pre-commit hooks
  .github/dependabot.yml
  .github/workflows/event-issue.yml
  .github/workflows/event-pr.yml
Due: none

builder: bump API versions for Meson 1.10.2
  builder/linux/Dockerfile
  builder/windows/Dockerfile
Due: none

Support and require Meson 1.10.2+
  bintool
  common/software.py
  meson.build
Due: annotations, argparse

Update glib
  subprojects/glib.wrap
Due: none

Update glib
  machines/cross-macos-arm64.ini
  machines/cross-macos-x86_64.ini
  subprojects/glib.wrap
Due: none

openslide-bin 4.0.0.13
  CHANGELOG.md
  common/meson.py
Due: annotations, argparse

builder/windows: install Meson 1.10.2 from ebuild
  builder/windows/Dockerfile
Due: none

Update libpng, libtiff
  subprojects/libpng.wrap
  subprojects/libtiff.wrap
Due: none
