Repository openslide/openslide-bin: changes, and which pre-commit hooks are due for each by the changed paths.
All: mkmaintainer, annotations, argparse

mkmaintainer:
  name: Sync maintainer issue templates
  entry: .github/maintainer/mkmaintainer.py
  language: python
  additional_dependencies:
  - PyYAML

annotations:
  name: Require "from __future__ import annotations"
  language: pygrep
  entry: '(?<!.)(?!.)|
  
    from __future__ import annotations'
  args:
  - --multiline
  - --negate

argparse:
  name: Require common.argparse wrapper
  language: pygrep
  entry: (add_argument|parse_args)\(

Update gdk-pixbuf, libjpeg-turbo
  subprojects/gdk-pixbuf.wrap
  subprojects/libjpeg-turbo.wrap
Due: none

Update libjpeg-turbo, libpng, sqlite3
  subprojects/libjpeg-turbo.wrap
  subprojects/libpng.wrap
  subprojects/sqlite3.wrap
Due: none

pre-commit: update to Meson 1.11
  .pre-commit-config.yaml
  meson.format
Due: none

Quotation cleanups
  .github/maintainer/mkmaintainer.py
  artifacts/write-project-versions.py
  bintool
  common/argparse.py
  common/software.py
Due: mkmaintainer, annotations, argparse

Autofix and reformat with Ruff
  artifacts/postprocess-sdist.py
  bintool
  common/argparse.py
  utils/get-version.py
  utils/test-wheel.py
Due: annotations, argparse

Fix Ruff lints
  artifacts/write-project-versions.py
  bintool
  common/argparse.py
  common/software.py
  utils/write-universal-bdist.py
Due: annotations, argparse

pre-commit: switch to prek
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .pre-commit-config.yaml
Due: none

pre-commit: switch to Ruff
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Update libpng, libxml2
  subprojects/libpng.wrap
  subprojects/libxml2.wrap
Due: none

Update libdicom
  subprojects/libdicom.wrap
Due: none

Update glib
  subprojects/glib.wrap
Due: none

Update sqlite3
  subprojects/sqlite3.wrap
Due: none

libdicom: improve dcm_filehandle_get_frame_number() performance
  subprojects/libdicom.wrap
  subprojects/packagefiles/libdicom-preallocated-error.patch
Due: none

Update libdicom
  subprojects/libdicom.wrap
  subprojects/packagefiles/libdicom-preallocated-error.patch
Due: none

workflows: disable werror on PR CI to break dependency cycle
  .github/workflows/pr.yml
Due: none

Revert "workflows: disable werror on PR CI to break dependency cycle"
  .github/workflows/pr.yml
Due: none

openslide-bin 4.0.0.14
  CHANGELOG.md
  common/meson.py
  subprojects/openslide.wrap
  subprojects/packagefiles/openslide-ventana.patch
Due: annotations, argparse

Drop gdk-pixbuf
  README.md
  common/software.py
  deps/meson.build
  subprojects/gdk-pixbuf.wrap
  subprojects/packagefiles/gdk-pixbuf-intl.patch
Due: annotations, argparse

Include zstd in stable builds
  deps/meson.build
Due: none

OpenSlide 4.0.1
  CHANGELOG.md
  common/meson.py
  subprojects/openslide.wrap
  subprojects/packagefiles/openslide-bdist.patch
  subprojects/packagefiles/openslide-libtiff.patch
  subprojects/packagefiles/openslide-ventana.patch
Due: annotations, argparse

maintainer/release: automatically sync release table
  .github/maintainer/README.md
  .github/maintainer/release.md
Due: mkmaintainer

Fix `slidetool test deps` on Windows
  bintool
  subprojects/openslide.wrap
  subprojects/packagefiles/openslide-slidetool-test-deps.patch
Due: none

CHANGELOG: add CVE number to 4.0.0.12 fix
  CHANGELOG.md
Due: none

README: capitalize WrapDB
  README.md
Due: none

Add command to run `meson wrap update` but preserve diff_files
  .github/workflows/update-check.yml
  README.md
  bintool
Due: none

Drop PCRE2 dependency
  common/software.py
  deps/meson.build
  subprojects/glib.wrap
  subprojects/openslide.wrap
  subprojects/packagefiles/glib-2-without-gregex.patch
  subprojects/packagefiles/openslide-without-gregex.patch
  subprojects/pcre2.wrap
Due: annotations, argparse

machines: strip dead code on Linux and macOS
  machines/cross-macos-arm64.ini
  machines/cross-macos-x86_64.ini
  machines/native-linux-aarch64.ini
  machines/native-linux-x86_64.ini
Due: none

openslide-bin 4.0.1.2
  CHANGELOG.md
  common/meson.py
Due: annotations, argparse

Update glib, libffi, sqlite3, uthash
  subprojects/glib.wrap
  subprojects/libffi.wrap
  subprojects/sqlite3.wrap
  subprojects/uthash.wrap
Due: none

Update libtiff
  subprojects/libtiff.wrap
Due: none

Update libjpeg-turbo, libtiff
  common/software.py
  subprojects/libjpeg-turbo.wrap
  subprojects/libtiff.wrap
Due: annotations, argparse

Update libffi
  subprojects/libffi.wrap
Due: none

Avoid nested context managers
  artifacts/write-wheel.py
  utils/write-combined-project-versions.py
Due: annotations, argparse

Avoid raising Exception directly
  artifacts/postprocess-binary.py
  artifacts/write-wheel.py
  bintool
  common/archive.py
  common/error.py
  common/meson.py
  common/python.py
  common/software.py
  utils/write-combined-project-versions.py
  utils/write-universal-bdist.py
  utils/write-universal-wheel.py
Due: annotations, argparse

Avoid leaking file handles for archive members
  artifacts/write-bdist.py
  common/archive.py
  utils/write-universal-bdist.py
Due: annotations, argparse

pre-commit: update Ruff
  .pre-commit-config.yaml
  common/archive.py
  common/meson.py
  pyproject.toml
Due: annotations, argparse

Path conditions:
  mkmaintainer: any of: .github/maintainer/, but not: ^(COPYING\.LESSER|subprojects/.*)$
  annotations: any of: \.py$, but not: ^(COPYING\.LESSER|subprojects/.*)$
  argparse: any of: \.py$ and not (common/argparse.py) and not (^(COPYING\.LESSER|subprojects/.*)$)
